# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv("Pokemon.csv")

In [3]:
# Double index, so drop one
pokemon = pokemon.drop(columns=pokemon.columns[0])

#### Print first 10 rows of `pokemon`.

In [4]:
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
display(pokemon["Type 1"].unique())
display(pokemon["Type 2"].unique())

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [6]:
combo_types = pokemon.groupby(["Type 1", "Type 2"]).agg(list).reset_index()
combo_types = combo_types[["Type 1", "Type 2"]]

In [7]:
combo_types.to_numpy()

array([['Bug', 'Electric'],
       ['Bug', 'Fighting'],
       ['Bug', 'Fire'],
       ['Bug', 'Flying'],
       ['Bug', 'Ghost'],
       ['Bug', 'Grass'],
       ['Bug', 'Ground'],
       ['Bug', 'Poison'],
       ['Bug', 'Rock'],
       ['Bug', 'Steel'],
       ['Bug', 'Water'],
       ['Dark', 'Dragon'],
       ['Dark', 'Fighting'],
       ['Dark', 'Fire'],
       ['Dark', 'Flying'],
       ['Dark', 'Ghost'],
       ['Dark', 'Ice'],
       ['Dark', 'Psychic'],
       ['Dark', 'Steel'],
       ['Dragon', 'Electric'],
       ['Dragon', 'Fairy'],
       ['Dragon', 'Fire'],
       ['Dragon', 'Flying'],
       ['Dragon', 'Ground'],
       ['Dragon', 'Ice'],
       ['Dragon', 'Psychic'],
       ['Electric', 'Dragon'],
       ['Electric', 'Fairy'],
       ['Electric', 'Fire'],
       ['Electric', 'Flying'],
       ['Electric', 'Ghost'],
       ['Electric', 'Grass'],
       ['Electric', 'Ice'],
       ['Electric', 'Normal'],
       ['Electric', 'Steel'],
       ['Electric', 'Water'],
       ['Fairy', 'Flying'],
       ['Fighting', 'Dark'],
       ['Fighting', 'Flying'],
       ['Fighting', 'Psychic'],
       ['Fighting', 'Steel'],
       ['Fire', 'Dragon'],
       ['Fire', 'Fighting'],
       ['Fire', 'Flying'],
       ['Fire', 'Ground'],
       ['Fire', 'Normal'],
       ['Fire', 'Psychic'],
       ['Fire', 'Rock'],
       ['Fire', 'Steel'],
       ['Fire', 'Water'],
       ['Flying', 'Dragon'],
       ['Ghost', 'Dark'],
       ['Ghost', 'Dragon'],
       ['Ghost', 'Fire'],
       ['Ghost', 'Flying'],
       ['Ghost', 'Grass'],
       ['Ghost', 'Poison'],
       ['Grass', 'Dark'],
       ['Grass', 'Dragon'],
       ['Grass', 'Fairy'],
       ['Grass', 'Fighting'],
       ['Grass', 'Flying'],
       ['Grass', 'Ground'],
       ['Grass', 'Ice'],
       ['Grass', 'Poison'],
       ['Grass', 'Psychic'],
       ['Grass', 'Steel'],
       ['Ground', 'Dark'],
       ['Ground', 'Dragon'],
       ['Ground', 'Electric'],
       ['Ground', 'Fire'],
       ['Ground', 'Flying'],
       ['Ground', 'Ghost'],
       ['Ground', 'Psychic'],
       ['Ground', 'Rock'],
       ['Ground', 'Steel'],
       ['Ice', 'Flying'],
       ['Ice', 'Ghost'],
       ['Ice', 'Ground'],
       ['Ice', 'Psychic'],
       ['Ice', 'Water'],
       ['Normal', 'Fairy'],
       ['Normal', 'Fighting'],
       ['Normal', 'Flying'],
       ['Normal', 'Grass'],
       ['Normal', 'Ground'],
       ['Normal', 'Psychic'],
       ['Normal', 'Water'],
       ['Poison', 'Bug'],
       ['Poison', 'Dark'],
       ['Poison', 'Dragon'],
       ['Poison', 'Fighting'],
       ['Poison', 'Flying'],
       ['Poison', 'Ground'],
       ['Poison', 'Water'],
       ['Psychic', 'Dark'],
       ['Psychic', 'Fairy'],
       ['Psychic', 'Fighting'],
       ['Psychic', 'Fire'],
       ['Psychic', 'Flying'],
       ['Psychic', 'Ghost'],
       ['Psychic', 'Grass'],
       ['Rock', 'Bug'],
       ['Rock', 'Dark'],
       ['Rock', 'Dragon'],
       ['Rock', 'Fairy'],
       ['Rock', 'Fighting'],
       ['Rock', 'Flying'],
       ['Rock', 'Grass'],
       ['Rock', 'Ground'],
       ['Rock', 'Ice'],
       ['Rock', 'Psychic'],
       ['Rock', 'Steel'],
       ['Rock', 'Water'],
       ['Steel', 'Dragon'],
       ['Steel', 'Fairy'],
       ['Steel', 'Fighting'],
       ['Steel', 'Flying'],
       ['Steel', 'Ghost'],
       ['Steel', 'Ground'],
       ['Steel', 'Psychic'],
       ['Steel', 'Rock'],
       ['Water', 'Dark'],
       ['Water', 'Dragon'],
       ['Water', 'Electric'],
       ['Water', 'Fairy'],
       ['Water', 'Fighting'],
       ['Water', 'Flying'],
       ['Water', 'Ghost'],
       ['Water', 'Grass'],
       ['Water', 'Ground'],
       ['Water', 'Ice'],
       ['Water', 'Poison'],
       ['Water', 'Psychic'],
       ['Water', 'Rock'],
       ['Water', 'Steel']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [8]:
# So this function wasn't working because Meganium is a Pokémon, so it was getting included in the elif clause.

def clean_names(x):
    
    '''This function cleans the names with Mega attached to them,
    for example: CharizardMega Charizard X to Mega Charizard X
    
    Parameters: a column with the names of the Pokémon
    Return: the same column with the fixed names'''
    
    if x == "Meganium":
        return x
    
    elif "Mega" in x:
        split = x.split(" ")
        
        if len(split) == 3:
            x = "Mega "+split[1]+" "+split[2]
            return x
        else:
            x = "Mega "+split[1]
            return x
    else:
        return x

pokemon["Name"] = pokemon["Name"].apply(clean_names)

pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [9]:
pokemon["A/D Ratio"] = round(pokemon["Attack"]/pokemon["Defense"],2)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92

#### Identify the pokemon with the highest `A/D Ratio`.

In [10]:
pokemon[pokemon["A/D Ratio"] == pokemon["A/D Ratio"].max()]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [11]:
pokemon[pokemon["A/D Ratio"] == pokemon["A/D Ratio"].min()]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [12]:
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92

In [13]:
pokemon[pokemon["Type 2"].isna() == True]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.10
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.74
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.79
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False,1.42
776,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False,1.43
788,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,0.81
789,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,0.64
792,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,1.38

In [14]:
pokemon["Combo Type"] = pokemon["Type 1"]+pokemon["Type 2"]+"-"+pokemon["Type 2"]
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,GrassPoison-Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,GrassPoison-Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,GrassPoison-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,GrassPoison-Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67,RockFairy-Fairy
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45,RockFairy-Fairy
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83,PsychicGhost-Ghost
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67,PsychicDark-Dark
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92,FireWater-Water

In [15]:
pokemon["Type 2"].isna()

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 2, Length: 800, dtype: bool

In [16]:
# First we fill the NA values with an empty space

pokemon.fillna("",inplace=True)

#Then we define a function to create the column, skipping those rows without a Type 2

def combo_type(x, y):
    
    '''This function combines the Type 1 and Type 2 of the Pokémon
    into a single column with the syntax: Type 1-Type 2
    
    Parameters: both type columns
    Return: a single column with the types combined'''
    
    if y != "":
        x = str(x)
        y = str(y)
        z = x+"-"+y
        return z
    else:
        return x

pokemon["Combo Type"] = list(map(combo_type, pokemon["Type 1"], pokemon["Type 2"]))
pokemon.head(10)

# We can reset the missing values as NAs if we want with:
# pokemon.replace("",np.NaN)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,Grass-Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,Grass-Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,Grass-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,Grass-Poison
4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.21,Fire
5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.10,Fire
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08,Fire-Flying
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17,Fire-Dragon
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33,Fire-Flying
9,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.74,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [17]:
pokemon.sort_values(["A/D Ratio"], ascending=False).head(5)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.12,Rock
348,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [18]:
top_5 = pokemon.sort_values(["A/D Ratio"], ascending=False).head(5)
top_5

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.12,Rock
348,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

In [19]:
top_5 = top_5["Combo Type"].unique().tolist()
top_5

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [20]:
pokemon_mean = pokemon.groupby(["Combo Type"]).agg({"Total":"mean","HP":"mean",
                                                    "Attack":"mean", "Defense":"mean",
                                                    "Sp. Atk":"mean", "Sp. Def":"mean",
                                                    "Speed":"mean", "Generation":"mean",
                                                    "Legendary":"mean", "A/D Ratio":"mean"}).reset_index()
pokemon_mean

,Combo Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bug,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.941176
1,Bug-Electric,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.110000
2,Bug-Fighting,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.640000
3,Bug-Fire,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.235000
4,Bug-Flying,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.145714
...,...,...,...,...,...,...,...,...,...,...,...
149,Water-Ice,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,0.823333
150,Water-Poison,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,1.163333
151,Water-Psychic,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,0.784000
152,Water-Rock,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,0.727500
153,Water-Steel,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,0.980000

In [21]:
pokemon_mean[pokemon_mean["Combo Type"].isin(top_5)]

,Combo Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
8,Bug-Poison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315833
109,Psychic,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164211
117,Rock,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.258889
140,Water-Dark,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291667

In [22]:
pokemon.to_csv("Pokemon2.csv")